html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.main-portfolio {
    height: 400vh;
    width: 100%;
    background-color: black;
}
/*LEFT STICKY*/
.sticky-left {
    font-family: 'Bebas Neue', cursive;
    float: left;
    position: sticky;
    top: 0;
    background-color: gray;
    height: 100vh;
    width: 20%;
    box-shadow: 2px 2px 2px 2px black;
}

.main {
    height: 10vh;
    width: 100%;
    padding-top: -10px;
}

.main-text {
    padding-left: 1.5px;
    font-size: 40px;
}

#main-image {
    padding-top: 10px;
    height: 35px;
    width: 35px;
}

.first-journey {
    padding-top: 1px;
    height: 30vh;
    text-align: center;
}

.first-journey a {
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.second-journey {
    padding-top: 1px;
    height: 30vh;
    text-align: center;
}

.second-journey a {
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.third-journey {
    padding-top: 1px;
    text-align: center;
    height: 30vh;
}

.third-journey a {
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.box {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    height: 20vh;
    width: 80%;
}
.box img{
    box-shadow: 2px 2px 2px 2px black;
    height: inherit;
    width: inherit;
}
/*LEFT STICKY HOVER PART*/
.main:hover{
    background-color: white;
}
.first-journey:hover{
    background-color: white;
}
.second-journey:hover{
    background-color: white;
}
.third-journey:hover{
    background-color: white;
}
.box img:hover{
    transition: .2s ease;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

/*RIGHT PART*/
.absolute-right {
    float: left;
    height: 400vh;
    width: 80%;
    background-color: blue;
}
.default{
    height: 100vh;
    width: 100%;
    background-color: yellow;
}
.philippine{
    height: 100vh;
    width: 100%;
    background-color: violet;
}
.content{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.content img{
    height: 250px;
    width: 450px;
}
.maldive{
    height: 100vh;
    width: 100%;
    background-color: red;
}

.japan{
    height: 100vh;
    width: 100%;
    background-color: green;
}